body{
    background-image: url("http://s3.party.pl/newsy/otwarte-ksiazki-na-stole-413091-article.jpg");
    background-attachment: fixed;
    background-size:cover;
}


table,
th,
td{
    border: 1px solid black;
}

div{
    margin: 50px auto auto auto;
    border-radius: 15px;
    padding: 20px;
    background: rgba(245, 245, 245, 0.5);
    max-width: 50%;
    border: 2px solid black;

}

h1,
h3,
ul,
table{
    float: inside;
    margin-left: 40%;

}