body{
    background-image:url("https://www.tenpieknyswiat.pl/fotki/albums/lesne-poszukiwania-jesieni/liscie-klonu.jpg");
    background-attachment: fixed;
    background-size:cover;
}

div {
    border-radius: 15px;
    padding: 20px;
    background: rgba(245, 245, 245, 0.8);
    box-shadow: 5px 10px rgba(0, 0, 0, .3);
    max-width: 50%;
    border: 2px solid grey;
    margin: 50px auto auto auto;
}
h2{
    font: italic 800 50px 'Taviraj', serif;
    font-size: 50px;

}

input{
    padding: 10px;
    background: rgba(247, 247, 247, 0.8);
}

textarea{
    min-width: 400px;
    min-height: 300px;
    background: rgba(247, 247, 247, 0.8);
    border: 2px solid grey;
    border-radius: 15px;
}


button{
    width: 150px;
    height: 30px;
    font: italic 800 16px 'Taviraj', serif;
}