body{
    background-image:url("https://www.tapeciarnia.pl/tapety/normalne/178508_kolorowe_liscie_jesieni.jpg");
    background-attachment: fixed;
    background-size:cover;
}

div{
    border-radius: 15px;
    padding: 20px;
    background: rgba(245, 245, 245, 0.8);
    box-shadow: 5px 10px rgba(0,0,0,.3);
    max-width: 50%;
    border: 2px solid grey;
    margin: 50px auto auto auto;
}


.first{
    font: italic 800 50px 'Taviraj', serif;
    font-size: 50px;
    text-align: center;
    color: black;

}

.second{
    font: italic 800 50px 'Taviraj', serif;
    font-size: 25px;
    text-align: center;
    color: black;
    overflow: auto;
    display: block;
}

.third{
    font: italic 800 50px 'Taviraj', serif;
    font-size: 20px;
    text-align: left;
    color: darkslategrey;
}