body{
    background-image: url(https://manzuko.com/27476-large_default/koraliki-drewniane-do-bizuterii-kulki-18mm-surowe-drewno-10szt-drku18.jpg);
    background-attachment: fixed;
    background-size:cover;
}

div{
    border-radius: 15px;
    padding: 20px;
    background: rgba(245, 245, 245, 0.5);
    max-width: 50%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

.paragraph-book{
    border: 2px solid red;

}

