<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>formnew</title>
    <link rel="stylesheet" href="formnewstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Taviraj:800,800i&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>

<div>

<p class="first" th:text="${article.title}"></p>
<p class="second" th:text="${article.contents}"></p>
<p class="third" th:text="${article.type}"></p>

</div>

</body>
</html>