<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>

<div>

<ul>
    <li type="square"><a href="/loop">List of books</a> </li>
</ul>

<h1>Form with books</h1>


<p th:if="${book}" th:text="${book}" class="paragraph-book"/>

    <form action="/bookadd" method="get">
    <input type="text" name="author" th:value="${book.author}">

    <input type="text" name="title" th:value="${book.title}">
    <input type="number" name="price" th:value="${book.price}">
    <input type="submit" value="Send">
</form>
</div>




</body>
</html>