<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of books</title>
    <link rel="stylesheet" href="bookliststyle.css">
</head>
<body>


 <div>
<h1> All Books</h1>
<h3>List</h3>

<ul>
    <li th:each="book: ${books}" th:text="${book}">

    </li>
</ul>

<table>
    <tr>
        <th >Author</th>
        <th >Title</th>
        <th >Price</th>
    </tr>
    <tr th:each="book: ${books}">
        <td th:text="${book.author}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.getStringPrice()}"></td>
    </tr>
</table>
</div>


</body>
</html>